.mainWrapper {
  display: none;
}
.header {
  display: block;
  padding: 0px 20px;
}
.logoContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logo {
  width: 25px;
  height: 25px;
  transition: var(--transition);
}
.logo:hover,
.logo:focus {
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .logo {
    width: 18px;
    height: 18px;
  }

  .mainContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    gap: 24px;
  }

  .logoName {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: var(--black-color, #121417);
    letter-spacing: -0.02em;
    transition: color var(--transition);
  }
  .logoName:hover,
  .logoName:focus {
    color: var(--dark-gray-color, #a9a9a9);
  }
  .link {
    font-size: 16px;
    line-height: 1.25;
    font-family: 'Roboto', sans-serif;
    transition: var(--transition);
  }
  .link:hover,
  .link:focus {
    color: var(--accent-color, #9fb7ce);
  }
  .active {
    color: var(--accent-color, #9fb7ce);
  }

  .nav {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .active {
    color: var(--accent-color, #9fb7ce);
  }
}

@media (min-width: 1400px) {
  .header {
    padding: 0 64px;
  }

  .logoName {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
  .link {
    font-size: 24px;
  }
  .mainContainer {
    gap: 390px;
  }

  .nav {
    gap: 28px;
  }
}
