/* .section {
  border: 1.5px dashed #9fb7ce;
  border-radius: 30px;
  min-width: 285px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 12px;
  justify-content: space-between;
  align-items: center;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.featureItem {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.quantity {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: black;
  text-wrap: nowrap;
}
.text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: black;
  text-wrap: wrap;
}

@media (min-width: 768px) {
  .section {
    width: 100%;
    height: 116px;
  }
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  .item {
    flex-direction: row;
    width: calc((100% - 24px) / 2);
    justify-content: center;
  }
  .text {
    font-size: 15px;
  }
}

@media (min-width: 1440px) {
  .section {
    width: 1312px;
    height: 116px;
  }

  .list {
    gap: 70px;
    padding: 30px 100px;
    flex-wrap: nowrap;
  }
  .quantity {
    font-size: 28px;
  }
  .item {
    align-items: center;
  }
} */
/* .section {
  border: 1.8px dashed var(--accent-color);
  border-radius: 30px;
  min-width: 285px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 12px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1440px) {
  .list {
    gap: 70px;
    padding: 30px 100px;
    flex-wrap: nowrap;
  }
} */
