@media (min-width: 280px) and (max-width: 767px) {
  .button {
    display: none;
  }
}
@media (min-width: 768px) {
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
  .circle:hover,
  .circle:focus {
    opacity: 0.5;
    transform: scale(1.2);
    border: 1px solid #94948e;
  }

  .btnBlue {
    background-color: #9fb7ce;
  }

  .btnYellow {
    background-color: #f4c550;
  }

  .btnRed {
    background-color: #da9c93;
  }
}
