.mobileWrapper {
  margin: 20px 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 420px) {
  .themeWrapper {
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .mobileWrapper {
    display: none;
  }
}
