.mobileWrapper {
  margin: 20px 0;
}

.wrapper {
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}
@media (min-width: 425px) {
  .themeWrapper {
    margin: 0 auto;
  }

  .wrapper {
    padding: 0 60px;
  }
}

@media (min-width: 768px) {
  .mobileWrapper {
    display: none;
  }
}
