.mainWrapperContainer {
  display: none;
}
@media (min-width: 768px) {
  .mainWrapperContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 40px 5px 20px;
  }
}
