.wrapper {
  min-width: 320px;
  margin: 0 8px 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--dark-gray-color, #a9a9a9);
}
.message {
  margin-top: 20px;
  font-size: 20px;
  color: var(--black-color, #121417);
}
.select {
  border-radius: 14px;
  padding: 14px 13px 14px 18px;
  background-color: var(--accent-color, white);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.11111;
  color: var(--black-color, black);
  border: none;
}
.buttonSearch {
  margin-top: 10px;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: var(--accent-color, #9fb7ce);
  color: var(--black-color, #121417);
  border: none;
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition);
}

.buttonSearch:hover,
.buttonSearch:hover,
.buttonSearch:active {
  background-color: var(--hover-color, #afc7dc);
  color: var(--dark-gray-color, #a9a9a9);
}
.buttonSearch:disabled {
  background-color: var(--gray-color, #dcd9d9);
  color: var(--dark-gray-color, #a9a9a9);
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .wrapper {
    max-width: unset;
    width: 583px;
  }
  .list {
    flex-direction: row;
  }
}

@media (min-width: 1400px) and (max-width: 1440px) {
  .wrapper {
    margin: 0 auto 32px;
  }
}
