/* .item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.featureItem {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

@media (min-width: 768px) {
  .item {
    flex-direction: row;
    width: calc((100% - 24px) / 2);
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .featureItem {
    flex-direction: row;
    gap: 5px;
  }
  .item {
    align-items: center;
  }
} */
