.item {
  border-radius: 24px;
  padding: 24px;
  max-width: 320px;
  background: var(--white-color, white);
  margin: 0 auto;
}

.circle {
  width: 120px;
  height: 120px;
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.onlineIcon {
  position: absolute;
  top: 16px;
  right: 20px;
}

.languagesText {
  display: none;
}

.name {
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  color: var(--black-color, #121417);
  transition: color var(--transition);
}
.name:hover,
.name:focus {
  color: var(--accent-color, #9fb7ce);
}
.lessonsWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.lessonsOnlineWrapper {
  display: none;
}

.lessonsText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color);
}

.price {
  color: var(--green-color);
}

.ratingWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.teacherInfo {
  margin-bottom: 16px;
}

.criterion {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-gray-color, #a9a9a9);
}

.criterionLang {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-skip-ink: none;
  color: var(--black-color, black);
  transition: background-color var(--transition), color var(--transition);
}
.criterionLang:hover,
.criterionLang:focus {
  color: var(--accent-color, #9fb7ce);
}
.criterionText {
  color: var(--black-color, black);
}

.criterion:not(:last-child) {
  margin-bottom: 8px;
}

.readMoreBtn {
  font-weight: 500;
  margin-right: auto;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--black-color, black);
  transition: color var(--transition);
}
.readMoreBtn:hover,
.readMoreBtn:focus,
.readMoreBtn:active {
  color: var(--accent-color, #9fb7ce);
}
.levelsList {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.levelsItem {
  border-radius: 35px;
  padding: 8px 12px;
  border: 1px solid rgba(18, 20, 23, 0.2);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  color: var(--black-color, black);
}

.levelsItem:first-child {
  background: var(--accent-color);
  border: none;
}

.experienceText {
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color, black);
  margin-bottom: 32px;
}

.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.iconReviewWrapper {
  margin-bottom: 16px;
  display: flex;
  gap: 12px;
}

.reviewAvatar {
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.reviewName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--gray-color);
  margin-bottom: 2px;
}

.reviewStarWrapper {
  display: flex;
  gap: 8px;
}

.reviewText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color, black);
}

.closeText {
  margin-left: 5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: var(--green-color, #38cd3e);
  transition: color var(--transition);
}
.closeText:hover,
.closeText:focus,
.closeText:active {
  color: #ffc531;
}
.bookBtn {
  width: 100%;
  margin-top: 32px;
  border-radius: 12px;
  padding: 16px 48px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--black-color, black);
  background: var(--accent-color, #9fb7ce);
  transition: background-color var(--transition), color var(--transition);
}

.bookBtn:hover {
  background-color: var(--hover-color, #afc7dc);
  color: var(--dark-gray-color, #a9a9a9);
}

@media (min-width: 768px) {
  .item {
    max-width: unset;
    width: 704px;
    display: flex;
    gap: 24px;
  }

  .circle {
    margin: 0;
  }

  .avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  .avatar:hover,
  .avatar:focus {
    transform: scale(1.05);
  }

  .onlineIcon {
    position: absolute;
    top: 16px;
    right: 20px;
  }

  .container {
    width: 512px;
  }

  .mainInfoWrapper {
    height: 56px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .languagesText {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-gray-color, #a9a9a9);
    margin-bottom: 8px;
  }

  .name {
    font-size: 24px;
    text-align: unset;
  }

  .lessonsInfo {
    height: 24px;
    margin-right: 64px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }

  .lessonsOnlineWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .bookImg {
    margin-left: 5px;
    width: 16px;
    height: 16px;
  }

  .lessonsText {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black-color, black);
  }

  .ratingWrapper {
    display: flex;
    gap: 8px;
    margin-left: 30px;
    align-items: center;
  }

  .teacherInfo {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .levelsList {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .bookBtn {
    width: unset;
  }
}

@media (min-width: 1440px) {
  .item {
    width: 1184px;
    gap: 48px;
  }

  .container {
    width: 968px;
  }

  .mainInfoWrapper {
    width: 968px;
  }
  .ratingWrapper {
    margin-left: 15px;
  }
  .lessonsWrapper {
    height: 26px;
  }

  .levelsList {
    flex-wrap: nowrap;
  }
}
