.container {
  width: 268px;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--black-color, black);
  margin-bottom: 10px;
}

.text {
  font-size: 16px;
  line-height: 1.375;
  color: var(--black-color, #121417);
  margin-bottom: 20px;
}

.imageWrapper {
  display: flex;
  gap: 14px;
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.imageTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: var(--dark-gray-color, #a9a9a9);
  margin-bottom: 4px;
}

.imageText {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--black-color, black);
}

.fieldsetWrapper {
  margin-bottom: 40px;
  position: relative;
}

.fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.legend {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--black-color, #121417);
  margin-bottom: 15px;
}

.radioWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputWrapper {
  display: flex;
  gap: 6px;
}

.radio {
  accent-color: transparent;
  border-color: var(--black-color, black);
}

.radio:checked {
  accent-color: var(--red-color, red);
}

.input {
  border: 1px solid rgba(18, 20, 23, 0.1);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
}
.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  color: var(--black-color, black);
  margin-bottom: 8px;
}
.input::placeholder {
  font-size: 16px;
  line-height: 1.375;
  color: var(--dark-gray-color, black);
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 40px;
}

.submitBtn {
  border-radius: 12px;
  width: 268px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--black-color, #121417);
  background: var(--accent-color, #9fb7ce);
  transition: background-color var(--transition), color var(--transition);
}
.submitBtn:hover,
.submitBtn:focus,
.submitBtn:active {
  background-color: var(--hover-color, #afc7dc);
  color: var(--dark-gray-color, #a9a9a9);
}
.errorText {
  position: absolute;
  left: 18px;
  bottom: -16px;
  color: var(--red-color, red);
  font-size: 0.8rem;
}

.nameWrapper,
.emailWrapper,
.dateWrapper {
  position: relative;
}

@media (min-width: 768px) {
  .container {
    width: 482px;
  }

  .submitBtn {
    width: 482px;
  }
}
