.buttonLogin {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  background-color: var(--accent-color);
  padding: 14px;
  border-radius: 12px;
}

.logoutIcon {
  display: none;
}

.loginText {
  text-wrap: nowrap;
}

.buttonRegister {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  padding: 20px 14px;
  text-align: center;
  border-radius: 12px;
  width: 122px;
}

.unWrapper,
.sigWrapper {
  display: flex;
  gap: 8px;
}

@media (min-width: 768px) {
  .buttonLogin {
    display: flex;
    align-items: center;

    margin-right: 20px;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
  }

  .logoutIcon {
    display: block;
  }

  .loginText {
    text-wrap: nowrap;
  }

  .buttonRegister {
    width: 166px;
  }

  .unWrapper,
  .sigWrapper {
    gap: 6px;
  }
}
