.imageContainer {
  display: flex;
  border-radius: 30px;
  min-width: 285px;
  height: 482px;
  margin: 24px 0px 24px 0px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .imageContainer {
    margin: 0px 0px 24px 0px;
    height: 450px;
    min-width: 310px;
  }
}

@media (min-width: 1440px) {
  .imageContainer {
    min-width: 576px;
    min-height: 532px;
  }
}
