.section {
  border: 1.8px dashed var(--accent-color, #9fb7ce);
  border-radius: 30px;
  min-width: 285px;
  margin-bottom: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 12px;
  justify-content: space-between;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.quantity {
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: var(--black-color, #121417);
  text-wrap: nowrap;
  transition: color var(--transition);
}
.quantity:hover,
.quantity:focus {
  color: var(--dark-gray-color, #a9a9a9);
}

.text {
  font-size: 14px;
  cursor: pointer;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #121417;
  text-wrap: wrap;
  transition: color var(--transition);
}
.text:hover,
.text:focus {
  color: var(--dark-gray-color, #a9a9a9);
}

@media (min-width: 768px) {
  .section {
    max-width: unset;
    margin-bottom: 0px;
  }
  .text {
    font-size: 16px;
  }
  .quantity {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.14286;
  }
  .list {
    padding: 20px 70px;
    flex-direction: row;
    column-gap: 14px;
    align-items: unset;
    flex-wrap: wrap;
  }

  .item {
    flex-direction: row;
    width: calc((100% - 24px) / 2);
    justify-content: center;
  }
}
@media (min-width: 1250px) {
  .list {
    padding: 30px 90px;
  }
}
@media (min-width: 1400px) {
  .section {
    width: 1312px;
    height: 116px;
    margin-left: auto;
    margin-right: auto;
  }
  .quantity {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.14286;
  }
  .list {
    gap: 100px;
    flex-direction: row;
    padding: 40px 100px;
    flex-wrap: nowrap;
  }
  .item {
    align-items: center;
  }
}
