.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.red {
  font-size: 32px;
  line-height: 1.2;
  margin: 0;
  color: var(--red-color);
}
@media (min-width: 768px) {
  .red {
    font-size: 42px;
  }
}
